* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: medium;
}

header {
  background-color: #7286D3;
  padding: 30px;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: 400;
font-style: italic;
}

.custom {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-top: 0px;
  padding-top: 25px;
}

.poem {
  text-align: center;
  margin: 20px auto;
}

.poem h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
  color: rgba(0, 0, 128, 0.877);
}

.poem img {
  display: block;
  margin: 10px auto;
  max-width: 650px;
}

nav {
  background-color: rgba(61, 100, 177, 0.491);
  overflow: hidden;
  
  width: 100%;
}

nav a {
  float: left ;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  width: 25%;
}





nav a:hover {
  background-color: #ddddddcf;
  color: black;
}

nav a.active {
  background-color: #04AA6D;
  color: black;
}



main {
  background-color: #8ea6e9aa;
}

h2 {
  padding: 20px;
}

section:nth-child(even) {
  background-color: #aac4ff0f;
}

section {
  min-height: 80vh;

}

video {
  padding: 5px;
}

.learnvideo {
  margin-top: -50px;
}

iframe {
  height: 75vh;
}

.button {
  border-radius: 4px;
  background-color: rgba(64, 69, 79, 0.411);
  border: none;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  width: 30px;
  transition: all 0.7s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
img {
  padding: 10px;
  border: 4px solid;

}

section h5 {
  margin: 40px;
}

footer {
  background-color: rgba(64, 69, 79, 0.411);
  overflow: hidden;
}

footer a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}





footer a:hover {
  background-color: #ddd;
  color: black;
}

footer a.active {
  background-color: #04AA6D;
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.center h3 {
  color: rgba(0, 0, 128, 0.783);
  margin: 0px;
}





.text-and-image {
  display: flex;
  align-items: center;
  margin-left: 170px;
  margin-bottom: 30px;
  position: relative;
  animation-name: nik;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes nik {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}



.text-and-image h3 {
  margin-right: 10px;
  font-weight: 400
    /* Adjust the spacing between the text and image */
}
.text-and-image img {
  background-color: rgba(236, 171, 193, 0.203);
  animation: color-transition 4s ease-in-out infinite;
}

@keyframes color-transition {
  0% {
    background-color: rgb(228, 156, 180);
    opacity: 1;
    transform: scale(1.02);
  }
  50% {
    background-color: rgba(236, 171, 193, 0.203);
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    background-color: rgb(228, 156, 180);
    opacity: 1;
    transform: scale(1.02);
  }
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

}

.content {
  flex: 1;
}

.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30px;
  color: rgba(0, 0, 128, 0.783);
}

.points img {
  margin-right: 30px;
  margin-left: 20px;
  background-color: rgba(236, 171, 193, 0.203);
  animation: color-transition 5s ease-in-out infinite;
}



@keyframes color-transition {
  0% {
    background-color: rgb(228, 156, 180);
    opacity: 1;
    transform: scale(1.02);
  }
  50% {
    background-color: rgba(236, 171, 193, 0.203);
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    background-color: rgb(228, 156, 180);
    opacity: 1;
    transform: scale(1.02);
  }
}


.content p {
  line-height: 1.5;
  text-align: left;
  margin-left: 30px;
}

.content li {
  text-align: left;
}

.expression img{
  background-color: rgba(236, 171, 193, 0.203);
  animation: color-transition 5s ease-in-out infinite;

}


  
@keyframes color-transition {
  0% {
    background-color: rgb(228, 156, 180);
    opacity: 1;
    transform: scale(1.02);
  }
  50% {
    background-color: rgba(236, 171, 193, 0.203);
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    background-color: rgb(228, 156, 180);
    opacity: 1;
    transform: scale(1.02);
  }
}
 
.flower img{
  width: 50px;
  border-radius: 90%;
  animation: flowers 7s  linear infinite forwards;
  border: none;
}
.flower{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0.6px;
  top: -70px;
  
}

@keyframes flowers
{
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(+25vh) rotate(360deg);
    opacity: 0;
  }
  
}
.flower img:nth-child(1)
{
  animation-delay: 2s;
width: 75px;
}
.flower img:nth-child(2)
{
  animation-delay: 1s;
  width: 80px;
  
}
.flower img:nth-child(3)
{
  animation-delay: 3s;
  width: 65px;
}
.flower img:nth-child(4)
{
  animation-delay: 4.5s;
  width: 75px;
}
.flower img:nth-child(5)
{
  animation-delay: 2.4s;
  width: 55px;
}

.upload{
  margin: auto;
  margin-bottom: 50px;
  width: 60%;
  height:60%;
  padding: 20px;
  background: #8ea6e9aa;
  border-radius: 1%;
  transition: transform 2s ease-in-out;

  
}
.upload:hover {
  transform: scale(1.05);
}